/* Variables */

:root {
  --main-ff: "Work Sans", "Arial", sans-serif;
  --main-text-color: #fff;
  --main-bg-color: #343a40;
  --secondary-bg-color: #495057;
}

// list
// df fxww
// cg 25


// item
// maw289
// w100%  

