@use "../veriables";
@use "../mixins" as m;

/* Intro */

.intro {
	padding-top: 40px;
	padding-bottom: 40px;
}

.intro__heading {
	margin-top: 0;
	margin-bottom: 30px;
}

.intro__img {
	width: 100%;
}

.intro__form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
}

.intro__components {
	padding: 8px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	background-color: #e8dd78;
	border: 3px solid #928303;
	outline: none;
	transition: box-shadow 0.3s ease;
	&:focus {
		border: 3px solid #928303;
		background-color: #ede6a8;
		box-shadow: #abc4ff 0 0 20px 6px;
	}
}

.intro__labels {
	position: relative;
	z-index: 1;
	width: 100%;
}

.intro__types-label {
	display: none;
}

.intro__types--filter {
	display: block;
}

.intro__input-with-lists {
	width: 100%;
}

.intro__input-lists {
	position: absolute;
	top: 100%;
	z-index: 2;
	max-height: 250px;
	width: 100%;
	background-color: #e8dd78;
	@include m.unstyled-list;
	border: 3px solid #928303;
	border-radius: 10px;
	overflow: auto;
	color: #000;
	font-weight: 500;
}

.intro__lists {
	display: none;
}

.display-block {
	display: block;
}

.border--top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-color: transparent;
}

.border--bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.intro__lists-item {
	padding: 8px;
	background-color: #e8dd78;
	border-bottom: 2px solid #777;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #d3bb02;
		color: #fff;
	}
}

.intro__radios-label {
	display: none;
	@include m.unstyled-list;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 8px;
	color: #625906;
}

.intro__radios-label--filter {
	position: relative;
	z-index: 1;
	display: block;
}

.intro__radios-mark {
	background-color: transparent;
	color: #0062b1;
	font-weight: 700;
}

.intro__modal-btn {
	width: 130px;
}

.intro__radios {
	display: grid;
	place-content: center;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	margin: 0;
	color: #000;
	background-color: #edefbe;
	border: 2.5px solid #928303;
	border-radius: 50%;
	appearance: none;
	transform: translateY(-0.075em);
	&:checked::before {
		transform: scale(1);
	}
	&::before {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 16px 16px #0062b1;
		content: "";
	}
}

.intro__btn-wrapper {
	display: flex;
	gap: 25px;
}

.intro__submit-btn {
	flex-grow: 1;
}

.intro__filter-btn {
	width: 45px;
	background-color: #b3afaf;
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
	&:hover {
		box-shadow: #d8deeb 0 0 20px 0px;
		background-color: #ddd9d9;
	}
	&:focus {
		box-shadow: #d8deeb 0 0 20px 0px;
		background-color: #ddd9d9;
	}
}

.intro__filter-img {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("../../images/settings.svg");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
	transition: transform 1.5s ease;

	&:hover {
		transform: rotate(270deg);
	}

	&:focus {
		transform: rotate(360deg);
	}
}

@include m.responsive(620px) {
	.intro__form {
		grid-template-columns: 1fr 1fr;
	}
}

@include m.responsive(768px) {
	.intro {
		padding-bottom: 50px;
	}
	.intro__heading {
		margin-bottom: 0;
	}

	.intro__search {
		padding: 12px;
	}
}

@include m.responsive(1024px) {
	.intro {
		padding-top: 0;
		padding-bottom: 80px;
	}
	.intro__form {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.intro__types-label {
		display: flex;
	}
	.intro__types--filter {
		display: none;
	}
	.intro__components {
		font-size: 18px;
	}
}

@include m.responsive(1280px) {
	.intro__form {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.intro__filter-btn {
		display: none;
	}
	.intro__radios-label {
		display: flex;
		flex-direction: column;
		row-gap: 3px;
	}
	.intro__radios-label--filter {
		display: none;
	}
	.intro__radios-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
