@use "../mixins" as m;

/* Modal styles started */

.modal-dialog {
  margin: 0.5rem 16px;
}

.modal-content {
  background: linear-gradient(0.25turn, #edf2fb, #abc4ff);
  color: #99582a;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #fee300;
}

.modal-header {
  margin-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.modal__title {
  margin-top: 0;
  font-weight: 700;
  line-height: normal;
}

.btn-close {
  position: static;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  padding: 4px !important;
  color: #333;
  opacity: 0.7;
  transition: color 0.3s ease;
  &:hover {
    color: #fff;
    opacity: 1;
  }
  &:focus {
    opacity: 1;
    box-shadow: none;
  }
}

.modal__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal__list {
  @include m.unstyled-list;
}

.modal__item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  column-gap: 10px;
  font-weight: 500;
  color: #555;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  &:hover {
    color: #fff;
    background-color: #77777790;
    .modal__bold {
      color: #fff;
    }
  }
}

.modal__bold {
  color: #99582a;
  transition: color 0.3s ease;
}

.modal__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3px 0 0;
  padding: 16px;
  font-weight: 500;
  border-top: 3px solid transparent;
  border-radius: 0 0 7px 7px;
  background-color: #fee300;
}

.modal__footer-filter {
  justify-content: end;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}

@include m.responsive(576px) {
  .modal-dialog {
    margin: 0.5rem auto;
  }
}

/* Modal styles finished */
