@use "../veriables";
@use "../mixins" as m;

/* Pokemons styles started */

.pokemons {
  padding-bottom: 80px;
}

.pokemons__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @include m.unstyled-list;
  text-align: center;
  color: #9be9ef;
}

.pokemons__item {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border-radius: 10px;
  background: linear-gradient(0.25turn, #edf2fb, #abc4ff);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: #abc4ff 0 0 20px 3px;
  }
}

.pokemons__item--not-found {
  height: 300px;
  font-size: 24px;
  font-weight: 500;
  color: #777;
}

.pokemons__subheading-wrapper {
  margin-bottom: 3px;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #99582a;
}

.pokemons__subheading {
  @include m.default-text(0, 18px, 700, 130%);
}

.pokemons__find {
  background-color: #ffa500;
  border-radius: 3px;
}

.pokemons__item-inner {
  position: relative;
  z-index: 0;
  display: flex;
  flex-grow: 1;
  background-color: #bb9457;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e2fdff;
}

.pokemons__item-img {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  z-index: -1;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}


.pokemons__item:hover .pokemons__item-img {
  opacity: 0.5;
}

.pokemons__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 12px;
  flex-grow: 1;
  padding: 16px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 120%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pokemons__item:hover .pokemons__item-content {
  opacity: 1;
}

.pokemons__data-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  flex-grow: 1;
}

.pokemons__link {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding: 5px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: #ff7700a1;
  border: 1px solid #abc4ff;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  &:hover {
  box-shadow: #abc4ff 0 0 10px -1px;
  }
}

.pokemons__eggs,
.pokemons__weight {
  text-align: left;
}
.pokemons__type,
.pokemons__height {
  text-align: right;
}

.pokemons__bold {
  text-align: left;
  font-weight: 500;
}
.pokemons__bold-left {
  text-align: right;
}

@include m.responsive(620px) {
  .pokemons {
    padding-bottom: 100px;
  }

  .pokemons__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pokemons__item {
    width: calc(50% - 12.5px);
  }

  .pokemons__subheading {
    font-size: 22px;
  }

  .pokemons__item-content {
    font-size: 16px;
  }
}

@include m.responsive(1024px) {
  .pokemons {
    padding-bottom: 120px;
  }

  .pokemons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
  }
  
  .pokemons__item {
    width: auto;
    flex-grow: 1;
  }

  .pokemons__item-content {
    font-size: 18px;
  }
}

@include m.responsive(1280px) {
  .pokemons__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}